@model IEnumerable<NguyenPhanHuy_2122110062.Models.Context.Wishlist>
@using NguyenPhanHuy_2122110062.Common
<article class="card">
    <div class="card-body">

        <div class="row">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-md-6" id="trow_@item.Id">
                        <figure class="itemside mb-4">
                            <div class="aside"><img src="@item.Product.ProductImage.FirstOrDefault(x=>x.IsDefault).Image" class="border img-md" alt="@item.Product.Title" /></div>
                            <figcaption class="info">
                                <a href="#" class="title">@item.Product.Title</a>
                                <p class="price mb-2">@Format.FormatNumber(item.Product.PriceSale) VND</p>
                                <a href="@Url.Action("Detail", "Product", new { alias = item.Product.Alias, id = item.Product.Id })" class="btn btn-secondary btn-sm"> Add to cart </a>
                                <a href="#" class="btn btn-danger btn-sm btnDeleteWishlist" data-original-title="Remove from wishlist" data-id="@item.Id"> <i class="fa fa-times"></i> </a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                }
            }
        </div> <!-- row .//  -->

    </div> <!-- card-body.// -->
</article>

<script>
    $(document).ready(function () {
        $('body').on('click', '.btnDeleteWishlist', function (e) {
            e.preventDefault();
            let id = $(this).data("id");
            alert(id)
            //let del = confirm("Bạn có muốn bỏ yêu thích sản phẩm này không?")
            //if (del === true) {
            //    $.ajax({
            //        url: '/Wishlist/DeleteWishlist',
            //        type: 'POST',
            //        data: { id: id },
            //        success: function (result) {
            //            if (result.success) {
            //                $('#trow_' + id).remove();
            //                toastr.success(result.message);
            //            } else {
            //                toastr.error(result.message);
            //            }
            //        }
            //    })
            //}
        });
    })
</script>