@model IEnumerable<NguyenPhanHuy_2122110062.Models.Context.Order>
@using NguyenPhanHuy_2122110062.Common

@if (Model != null)
{
    foreach (var item in Model)
    {
        <article class="card mb-4">
            <header class="card-header">
                <a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
                <strong class="d-inline-block mr-3">Order ID: @item.Code</strong>
                <span>Order Date: @item.CreatedDate.ToString("dd/MM/yyyy")</span>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="text-muted">Delivery to</h6>
                        <p>
                            @item.CustomerName <br>
                            Phone +@item.Phone Email: @item.Email <br>
                            Location: @item.Address, @item.Ward, @item.District, <br>
                            @item.City
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-muted">Payment</h6>
                        <span class="text-success">
                            <i class="fab fa-lg fa-cc-visa"></i>
                            Visa  **** 4216
                        </span>
                        <p>
                            Subtotal: @Format.FormatNumber(item.TotalAmount) VND<br>
                            Shipping fee:  56 VND <br>
                            <span class="b">Total:  @Format.FormatNumber(item.TotalAmount) VND </span>
                        </p>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            @Html.Action("ParitalOrderItem", "Profile", new { id = item.Id })
        </article> <!-- card order-item .// -->
    }
}
else
{
    <p>Người dùng này không có tiền mua hàng</p>
}