@model NguyenPhanHuy_2122110062.Models.EditViewModel

<div class="card">
    <div class="card-body">
        @using (Ajax.BeginForm("Edit", "Profile", new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBegin", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
        {
            <script>
                function OnBegin() { }
                function OnSuccess(res) {
                    if (res.success) {
                        toastr.success(res.message);
                        $('input[name="FullName"]').val(res.updatedData.FullName);
                        $('input[name="UserName"]').val(res.updatedData.UserName);
                        $('input[name="Email"]').val(res.updatedData.Email);
                        $('input[name="PhoneNumber"]').val(res.updatedData.PhoneNumber);
                        $('select#tinh').val(res.updatedData.CityId);  // Assuming CityId is returned
                        $('select#quan').val(res.updatedData.DistrictId);  // Assuming DistrictId is returned
                        $('select#phuong').val(res.updatedData.WardId);  // Assuming WardId is returned

                        // Update hidden fields for City, District, and Ward
                        $('#CityName').val(res.updatedData.City);
                        $('#DistrictName').val(res.updatedData.District);
                        $('#WardName').val(res.updatedData.Ward);
                    }
                }
                function OnFailure(res) {
                    if (res.success) {
                        toastr.error(res.message);
                    }
                }
            </script>
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-9">
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Họ và Tên</label>
                            <input type="text" class="form-control" value="@Model.FullName" name="FullName">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control" value="@Model.UserName" name="UserName">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" value="@Model.Email" name="Email">
                        </div> <!-- form-group end.// -->
                        <div class="form-group col">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control" value="@Model.PhoneNumber" name="PhoneNumber">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Tỉnh Thành</label>
                            <select class="form-control" id="tinh" title="Chọn Tỉnh Thành">
                                <option value="0">@Model.City</option>
                            </select>
                            <input type="hidden" id="CityName" name="City">
                        </div> <!-- form-group// -->
                        <div class="form-group col">
                            <label>Quận huyện</label>
                            <select class="form-control" id="quan" title="Chọn Quận Huyện">
                                <option value="0">@Model.District</option>
                            </select>
                            <input type="hidden" id="DistrictName" name="District">
                        </div> <!-- form-group end.// -->
                        <div class="form-group col">
                            <label>Phường xã</label>
                            <select class="form-control" id="phuong" title="Chọn Phường Xã">
                                <option value="0">@Model.Ward</option>
                            </select>
                            <input type="hidden" id="WardName" name="Ward">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->

                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<button class="btn btn-light">Change password</button>*@

                    <br><br><br><br><br><br>

                </div> <!-- col.// -->
                <div class="col-md">
                    <img src="~/Content/images/avatars/avatar1.jpg" class="img-md rounded-circle border">
                </div>  <!-- col.// -->
            </div>
        }

    </div> <!-- card-body.// -->
</div> <!-- card .// -->


<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#tinh").on("change", function () {
            var cityName = $("#tinh option:selected").text().replace(/^(Tỉnh|TP|Thành phố)\s*/i, '');
            $("#CityName").val(cityName);
        })

        $("#quan").on("change", function () {
            var districtName = $("#quan option:selected").text().replace(/^(Quận|Huyện|Thị xã|Thành phố)\s*/i, '');
            $("#DistrictName").val(districtName);
        })

        $("#phuong").on("change", function () {
            var wardName = $("#phuong option:selected").text().replace(/^(Phường|Xã|Thị trấn)\s*/i, '');
            $("#WardName").val(wardName);
        })

        //Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
            if (data_tinh.error == 0) {
                $.each(data_tinh.data, function (key_tinh, val_tinh) {
                    $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                });
                $("#tinh").change(function (e) {
                    var idtinh = $(this).val();
                    //Lấy quận huyện
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                        if (data_quan.error == 0) {
                            $("#quan").html('<option value="0">Quận Huyện</option>');
                            $("#phuong").html('<option value="0">Phường Xã</option>');
                            $.each(data_quan.data, function (key_quan, val_quan) {
                                $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                            });
                            //Lấy phường xã
                            $("#quan").change(function (e) {
                                var idquan = $(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                    if (data_phuong.error == 0) {
                                        $("#phuong").html('<option value="0">Phường Xã</option>');
                                        $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                            $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                        });
                                    }
                                });
                            });

                        }
                    });
                });

            }
        });
    });
</script>