@model NguyenPhanHuy_2122110062.Models.Context.Posts

@{
    ViewBag.Title = "Cập nhật bài viết";
}


@section Header{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index", "Dashboard", new {area="Admin"})" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Bài viết</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Bài viết</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin cập nhật bài viết</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            @if (Model != null)
            {
                <div class="bs-stepper">
                    <div class="bs-stepper-content">
                        @using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CategoryId)
                            @Html.HiddenFor(model => model.CreatedDate)
                            <!-- your steps content here -->
                            <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tiêu đề</label>
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Tiêu đề" })
                                    @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Danh mục</label>
                                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.Category as SelectList, "- Chọn danh mục -", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Hình ảnh</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(model => model.Image, new { @id = "Image", @class = "form-control" })
                                        </div>
                                        <div class="input-group-append">
                                            <input type="button" class="bg-default border-0 rounded-right" accept="image/*" value="Tải ảnh" onclick="BrowseServer('Image')" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mô tả</label>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Mô tả" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Trạng thái</label>
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Chi tiết</label>
                                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @id = "Detail" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Seo Title</label>
                                    @Html.TextBoxFor(model => model.SeoTitle, new { @class = "form-control", placeholder = "Tiêu đề" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Seo Description</label>
                                    @Html.TextAreaFor(model => model.SeoDescription, new { @class = "form-control", placeholder = "Mô tả" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Seo Keywords</label>
                                    @Html.TextAreaFor(model => model.SeoKeywords, new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                <a href="@Url.Action("Index", "Posts", new {area="Admin"})" class="btn btn-default btn-sm">Quay lại</a>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('Detail', {
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            })
        })
        function BrowseServer(field) {
            let finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }
    </script>
}