@model IEnumerable<NguyenPhanHuy_2122110062.Models.Context.Product>
@using NguyenPhanHuy_2122110062.Common

@{
    ViewBag.Title = "Product";
    ViewBag.Menu = "Product";


}
<!--  -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<style>
    .text-truncated {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
</style>

<section class="section-content padding-y">
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product")">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a href="#">@(string.IsNullOrEmpty(ViewBag.BrandName) ? ViewBag.CateName : ViewBag.BrandName)</a></li>
                </ol>
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <div class="row">
            <aside class="col-md-2">

                @Html.Action("MenuCategoryLeft", "Menu")
                @Html.Action("MenuBrandLeft", "Menu")
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3"> Price range </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="inner">
                            <div id="slider-range" class="custom-range"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" id="fromAmount" type="number">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" id="toAmount" type="number">
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-primary filter_button">Apply</button>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Sizes </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="inner">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XS </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> SM </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> LG </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XXL </span>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5"> Condition </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_5">
                        <div class="inner">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                <label class="custom-control-label">Any condition</label>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <label class="custom-control-label">Brand new </label>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <label class="custom-control-label">Used items</label>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <label class="custom-control-label">Very old</label>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->

                @Html.Action("Refresh", "Home")
            </aside> <!-- col.// -->
            <main class="col-md-10">
                <header class="mb-3">
                    <div class="form-inline">
                        <strong class="mr-md-auto">@Model.Count() Items found </strong>
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                        <div class="btn-group">
                            <a href="page-listing-grid.html" class="btn btn-light" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="page-listing-large.html" class="btn btn-light active" data-toggle="tooltip" title="Grid view">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- sect-heading -->
                <div class="product-list">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            var strImages = "";
                            var image = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                            if (image != null)
                            {
                                strImages = image.Image;
                            }
                            if (item.IsNew)
                            {
                                <article class="card card-product-list">
                                    <div class="row no-gutters">
                                        <aside class="col-md-3">
                                            <a href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="img-wrap">
                                                <span class="badge badge-danger"> NEW </span>
                                                <img src="@strImages">
                                            </a>
                                        </aside> <!-- col.// -->
                                        <div class="col-md-6">
                                            <div class="info-main">
                                                <a href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="h5 title"> @item.Title </a>
                                                <div class="rating-wrap mb-2">
                                                    <ul class="rating-stars">
                                                        <li style="width:100%" class="stars-active">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    </ul>
                                                    <div class="label-rating">9/10</div>
                                                </div> <!-- rating-wrap.// -->

                                                <p class="mb-3">
                                                    <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                                    <span class="tag"> 5 Years </span>
                                                    <span class="tag"> 80 reviews </span>
                                                    <span class="tag"> Russia </span>
                                                </p>

                                                <p class="text-truncated">
                                                    @item.Description
                                                </p>

                                            </div> <!-- info-main.// -->
                                        </div> <!-- col.// -->
                                        <aside class="col-sm-3">
                                            <div class="info-aside">
                                                <div class="price-wrap">
                                                    <span class="h5 price">$@Format.FormatNumber(item.PriceSale)-$@Format.FormatNumber(item.Price)</span>
                                                    <small class="text-muted">/per item</small>
                                                </div> <!-- price-wrap.// -->
                                                <small class="text-warning">Paid shipping</small>

                                                <p class="text-muted mt-3">Grand textile Co</p>
                                                <p class="mt-3 d-flex align-items-center justify-content-between">
                                                    <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Contact supplier </a>
                                                    <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                                </p>

                                                <label class="custom-control mt-3 custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label">
                                                        Add to compare
                                                    </label>
                                                </label>

                                            </div> <!-- info-aside.// -->
                                        </aside> <!-- col.// -->
                                    </div> <!-- row.// -->
                                </article> <!-- card-product .// -->
                            }
                            else
                            {
                                <article class="card card-product-list">
                                    <div class="row no-gutters">
                                        <aside class="col-md-3">
                                            <a href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="img-wrap">
                                                <img src="@strImages">
                                            </a>
                                        </aside> <!-- col.// -->
                                        <div class="col-md-6">
                                            <div class="info-main">
                                                <a href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="h5 title"> @item.Title  </a>
                                                <div class="rating-wrap mb-2">
                                                    <ul class="rating-stars">
                                                        <li style="width:80%" class="stars-active">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    </ul>
                                                    <div class="label-rating">7/10</div>
                                                </div> <!-- rating-wrap.// -->

                                                <p class="mb-3">
                                                    <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                                    <span class="tag"> 2 Years </span>
                                                    <span class="tag"> 30 reviews </span>
                                                    <span class="tag"> Japan </span>
                                                </p>

                                                <p class="text-truncated">
                                                    @item.Description
                                                </p>

                                            </div> <!-- info-main.// -->
                                        </div> <!-- col.// -->
                                        <aside class="col-sm-3">
                                            <div class="info-aside">
                                                <div class="price-wrap">
                                                    <span class="h5 price">$@Format.FormatNumber(item.PriceSale)-$@Format.FormatNumber(item.Price)</span>
                                                    <small class="text-muted">/per item</small>
                                                </div> <!-- price-wrap.// -->
                                                <small class="text-success">Free shipping</small>

                                                <p class="text-muted mt-3">@item.Manufacturer</p>
                                                <p class="mt-3 d-flex align-items-center justify-content-between">
                                                    <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Contact supplier </a>
                                                    <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                                </p>

                                                <label class="custom-control mt-3 custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label">
                                                        Add to compare
                                                    </label>
                                                </label>

                                            </div> <!-- info-aside.// -->
                                        </aside> <!-- col.// -->
                                    </div> <!-- row.// -->
                                </article> <!-- card-product .// -->
                            }
                        }
                    }
                </div>

                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

                <div class="box text-center">
                    <p>Did you find what you were looking for？</p>
                    <a href="" class="btn btn-light">Yes</a>
                    <a href="" class="btn btn-light">No</a>
                </div>
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>

@section Footer{
    <section class="padding-y-lg bg-light border-top">
        <div class="container">

            <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-sm-6">
                    <form class="form-row">
                        <div class="col-8">
                            <input class="form-control" placeholder="Your Email" type="email">
                        </div> <!-- col.// -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                        </div> <!-- col.// -->
                    </form>
                    <small class="form-text">We’ll never share your email address with a third-party. </small>
                </div> <!-- col-md-6.// -->
            </div>


        </div>
    </section>
}

@section scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        function initPriceSlider() {
            // Khởi tạo slider
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500000,
                values: [0, 200000],
                slide: function (event, ui) {
                    $("#fromAmount").val(ui.values[0]); // Gán giá trị Min
                    $("#toAmount").val(ui.values[1]); // Gán giá trị Max
                }
            });

            $("#fromAmount").val($("#slider-range").slider("values", 0));
            $("#toAmount").val($("#slider-range").slider("values", 1));
        }

        // Gọi hàm khi tài liệu đã sẵn sàng
        $(document).ready(function () {
            initPriceSlider();
            $('body').on('click', '.filter_button', function () {
                var minPrice = $('#fromAmount').val();
                var maxPrice = $('#toAmount').val();

                // Gọi API để lấy dữ liệu
                $.ajax({
                    url: '/Product/Index',
                    type: 'GET',
                    data: { minPrice, maxPrice },
                    success: function (data) {
                        // Hiển thị dữ liệu trả về
                        $('.product-list').html(data);
                    }
                });
            });
        });
    </script>
} 