@model IEnumerable<NguyenPhanHuy_2122110062.Models.Context.Product>

@if (Model != null && Model.Any())
{

    <div class="row row-sm">
        @foreach (var item in Model)
        {
            var strImages = "";
            var image = item.ProductImage.FirstOrDefault(x => x.IsDefault);
            if (image != null)
            {
                strImages = image.Image;
            }
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="card card-sm card-product-grid">
                    <a href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="img-wrap"> <img src="@strImages" alt="@item.Title"> </a>
                    <figcaption class="info-wrap">
                        <a href="@Url.Action("Detail", "Product", new { alias = item.Alias, id = item.Id })" class="title">Just another product name</a>
                        <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        }
    </div> <!-- row.// -->
}
