@model NguyenPhanHuy_2122110062.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Quên mật khẩu";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Nhập email của bạn</h4>
            @using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <br>
                <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger mt-2" })
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Send email  </button>
                </div> <!-- form-group// -->
            }

        </div> <!-- card-body.// -->
    </div> <!-- card .// -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
