@model NguyenPhanHuy_2122110062.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}


<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Đặt lại mật khẩu</h4>
            @using (Html.BeginForm("ResetPassword", "Accounts", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <br>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger mt-2" })
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger mt-2" })
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger mt-2" })
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->
            }

        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have account? <a href="@Url.Action("Register", "Accounts", new {area=""})">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>

